<h1>Enter a new message</h1>

<%= validation_errors(@message) %>

<%= form_for(@message, html: {class: 'form-horizontal'}) do |f| %>

    <div class="form-group">
        <%= f.label :text, 'Message', class: 'control-label col-xs-2' %>
        <div class="col-xs-10">
            <%= f.text_field(:text, size: 100, class: 'form-control') %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :password, 'Password', class: 'control-label col-xs-2' %>
        <div class="col-xs-10">
            <%= f.password_field(:password, size: 15, class: 'form-control') %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :password_confirmation, 'Confirm Password', class: 'control-label col-xs-2' %>
        <div class="col-xs-10">
            <%= f.password_field(:password_confirmation, size: 15, class: 'form-control') %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :recipient, 'Who is it for', class: 'control-label col-xs-2' %>
        <div class="col-xs-10">
            <%= f.text_field(:recipient, size: 50, class: 'form-control') %>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
          <%= f.submit("Create", {class: 'btn btn-primary'}) %>
        </div>
    </div>

<% end %>
